<h3>Station Locations:</h3>

<% if @cities.any? %>
  <ul>
    <% @cities.each do |city| %>
      <li><a href="/operator/<%= @operator.id %>/cities/<%= city.id %>"><%= city.name %></a></li>
    <% end %>
  </ul>
<% else %>
  <p>There are currently no cities to display.</p>
<% end %>
<br>
<h4>Add a city:</h4>
<br>
<form action="/operator/<%= @operator.id %>/cities" method="post">
  <div class="form-group">
    <label for="city_name">City</label>
    <input id="city_name" name="city_name" class="form-control" required type="text">
  </div>
  <button type="submit" class="btn">Add City</button>
</form>
<br>
<p><a href="/operator/<%= @operator.id %>">Return to operator page</a></p>